<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>DojoSurvey</title>
</head>
<body>
    <h1>Welcome to Dojo Survey!</h1>
    <div class="mb-3">
        <form action="display" method="POST">
            <label class="form-label" for="name">Name:</label>
            <input class="form-control" type="text" name="name" id="name">
            <label class="form-label" for="location">Location:</label>
            <select class="form-control" name="location" id="location">
                <option value="Chicago">Chicago</option>
                <option value="Seattle">Seattle</option>
                <option value="Montreal">Montreal</option>
            </select>
            <label class="label" for="language">Favorite Language:</label>
            <select class="form-control" name="language" id="language">
                <option value="C#">C#</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
            </select>
            <label class="form-label" for="comment">Comment (optional):</label>
            <textarea class="form-control" name="comment" id="comment" cols="30" rows="10">Comments here...</textarea>
            <input class="btn btn-primary" type="submit" value="submit">
        </div>
    </form>
</body>
</html>